.header {
@media (min-width: 1024px) {
        text-align: left;
    }
}

.form-container {
    @media (min-width: 1280px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.illustration {
    @media (max-width: 1280px) {
        display: none;
    }
}