<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sell & Buy - Privacy Policy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/privacy.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body class="min-h-screen flex flex-col font-saira">
    <div id="nav-wrp">
      <header
        id="navbar"
        class="bg-white flex items-center justify-center inset-x-0 top-0 z-50"
      >
        <div
          id="top-nav"
          class="w-full flex items-center justify-between sm:pt-4 sm:pb-0 px-2 sm:px-5 pt-5 pb-5"
        >
          <a
            href="/"
            id="back-button"
            class="absolute top-0 left-0 m-4 w-10 h-10 bg-white rounded-full shadow-lg flex items-center justify-center"
          >
            <svg
              class="w-6 h-6 text-black"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              ></path>
            </svg>
          </a>
          <div class="flex w-full justify-center">
            <a href="/" id="navbar-logo" class="flex justify-center">
              <img
                id="logo"
                class="h-5 sm:h-9 sm:w-auto cursor-pointer"
                src="images/navbar-logo.png"
              />
            </a>
          </div>
        </div>
      </header>
    </div>

    <div
      id="content"
      class="flex-grow w-full flex flex-col align-middle justify-center mt-[101.2px] sm:mt-[96px] mb-10 relative"
    >
      <section class="privacy-section max-w-4xl mx-auto p-8">
        <h1 class="text-3xl font-bold text-center mt-8">Privacy Policy</h1>
        <div class="privacy-content mt-6">
          <p>
            Kebijakan Privasi ini menjelaskan kebijakan dan prosedur Kami mengenai pengumpulan, penggunaan, dan pengungkapan informasi Anda saat Anda menggunakan Layanan dan memberi tahu Anda tentang hak privasi Anda serta bagaimana hukum melindungi Anda.
            Kami menggunakan data pribadi Anda untuk menyediakan dan meningkatkan Layanan. Dengan menggunakan Layanan, Anda menyetujui pengumpulan dan penggunaan informasi sesuai dengan Kebijakan Privasi ini. Kebijakan Privasi ini dibuat dengan bantuan Pembuat Kebijakan Privasi.
          </p>

          <h2 class="text-xl font-semibold mt-4">Interpretasi dan Definisi</h2>

          <h3 class="text-lg font-semibold mt-2">Interpretasi</h3>
          <p>
            Kata-kata yang huruf awalnya dikapitalisasi memiliki makna yang ditentukan dalam kondisi berikut. Definisi berikut memiliki makna yang sama terlepas dari apakah mereka muncul dalam bentuk tunggal atau jamak.
          </p>

          <h3 class="text-lg font-semibold mt-2">Definisi</h3>
          <p>
            Untuk tujuan Kebijakan Privasi ini:
            <ul class="list-disc ml-6 mt-2">
              <li>Akun berarti akun unik yang dibuat untuk Anda untuk mengakses Layanan kami atau bagian dari Layanan kami.</li>
              <li>Afiliasi berarti entitas yang mengendalikan, dikendalikan oleh, atau berada di bawah kendali bersama dengan suatu pihak, di mana "kendali" berarti kepemilikan 50% atau lebih dari saham, kepentingan ekuitas, atau sekuritas lainnya yang berhak memilih untuk pemilihan direktur atau otoritas pengelola lainnya.</li>
              <li>Perusahaan (disebut sebagai "Perusahaan", "Kami", "Kami", atau "Milik Kami" dalam Perjanjian ini) merujuk pada Sell&Buy, Jl. Komojoyo No.16, Caturtunggal, Daerah Istimewa Yogyakarta.</li>
              <li>Cookies adalah file kecil yang ditempatkan di komputer, perangkat seluler, atau perangkat lainnya oleh sebuah situs web, berisi rincian riwayat penelusuran Anda di situs web tersebut di antara banyak kegunaannya.</li>
              <li>Negara mengacu pada: Indonesia</li>
              <li>Perangkat berarti perangkat apa pun yang dapat mengakses Layanan seperti komputer, ponsel, atau tablet digital.</li>
              <li>Data Pribadi adalah informasi apa pun yang berkaitan dengan individu yang teridentifikasi atau dapat diidentifikasi.</li>
              <li>Layanan mengacu pada Situs Web.</li>
              <li>Penyedia Layanan berarti setiap orang alami atau badan hukum yang memproses data atas nama Perusahaan. Ini merujuk pada perusahaan pihak ketiga atau individu yang dipekerjakan oleh Perusahaan untuk memfasilitasi Layanan, untuk menyediakan Layanan atas nama Perusahaan, untuk melakukan layanan yang terkait dengan Layanan, atau untuk membantu Perusahaan dalam menganalisis bagaimana Layanan digunakan.</li>
              <li>Layanan Media Sosial Pihak Ketiga merujuk pada situs web atau situs jaringan sosial apa pun di mana Pengguna dapat masuk atau membuat akun untuk menggunakan Layanan.</li>
              <li>Data Penggunaan mengacu pada data yang dikumpulkan secara otomatis, baik yang dihasilkan oleh penggunaan Layanan atau dari infrastruktur Layanan itu sendiri (misalnya, durasi kunjungan halaman).</li>
              <li>Situs Web mengacu pada Sell&Buy, yang dapat diakses dari http://www.snb.mp.com</li>
              <li>Anda berarti individu yang mengakses atau menggunakan Layanan, atau perusahaan, atau badan hukum lainnya atas nama siapa individu tersebut mengakses atau menggunakan Layanan, sebagaimana berlaku.</li>
            </ul>
          </p>

          <h2 class="text-xl font-semibold mt-4">Pengumpulan dan Penggunaan Data Pribadi</h2>

          <h3 class="text-lg font-semibold mt-2">Jenis Data yang Dikumpulkan</h3>
          <p>
            <strong>Data Pribadi</strong>
            Saat menggunakan Layanan Kami, Kami dapat meminta Anda untuk memberikan Kami informasi yang dapat diidentifikasi secara pribadi yang dapat digunakan untuk menghubungi atau mengidentifikasi Anda. Informasi yang dapat diidentifikasi secara pribadi dapat mencakup, tetapi tidak terbatas pada:
            <ul class="list-disc ml-6 mt-2">
              <li>Alamat email</li>
              <li>Nama depan dan nama belakang</li>
              <li>Nomor telepon</li>
              <li>Alamat, Negara Bagian, Provinsi, Kode Pos, Kota</li>
            </ul>
          </p>

          <p>
            <strong>Data Penggunaan</strong>
            Data Penggunaan dikumpulkan secara otomatis saat menggunakan Layanan.

            Data Penggunaan dapat mencakup informasi seperti alamat Protokol Internet Perangkat Anda (misalnya alamat IP), jenis browser, versi browser, halaman Layanan kami yang Anda kunjungi, waktu dan tanggal kunjungan Anda, waktu yang dihabiskan di halaman tersebut, pengenal perangkat unik, dan data diagnostik lainnya.

            Saat Anda mengakses Layanan melalui perangkat seluler, Kami dapat mengumpulkan informasi tertentu secara otomatis, termasuk, namun tidak terbatas pada, jenis perangkat seluler yang Anda gunakan, ID unik perangkat seluler Anda, alamat IP perangkat seluler Anda, sistem operasi seluler Anda, jenis browser Internet seluler yang Anda gunakan, pengenal perangkat unik, dan data diagnostik lainnya.

            Kami juga dapat mengumpulkan informasi yang dikirimkan browser Anda setiap kali Anda mengunjungi Layanan kami atau saat Anda mengakses Layanan melalui perangkat seluler.
          </p>

          <h2 class="text-xl font-semibold mt-4">Informasi dari Layanan Media Sosial Pihak Ketiga</h2>
          <p>
            Perusahaan mengizinkan Anda membuat akun dan masuk untuk menggunakan Layanan melalui Layanan Media Sosial Pihak Ketiga berikut:
            <ul class="list-disc ml-6 mt-2">
              <li>Google</li>
              <li>Facebook</li>
              <li>Instagram</li>
              <li>Twitter</li>
              <li>LinkedIn</li>
            </ul>
            Jika Anda memutuskan untuk mendaftar melalui atau dengan cara lain memberi kami akses ke Layanan Media Sosial Pihak Ketiga, Kami dapat mengumpulkan Data Pribadi yang sudah terkait dengan akun Layanan Media Sosial Pihak Ketiga Anda, seperti nama Anda, alamat email Anda, aktivitas Anda, atau daftar kontak Anda yang terkait dengan akun tersebut.

            Anda juga memiliki opsi untuk membagikan informasi tambahan dengan Perusahaan melalui akun Layanan Media Sosial Pihak Ketiga Anda. Jika Anda memilih untuk memberikan informasi tersebut dan Data Pribadi, selama pendaftaran atau dengan cara lain, Anda memberikan izin kepada Perusahaan untuk menggunakan, membagikan, dan menyimpannya dengan cara yang sesuai dengan Kebijakan Privasi ini.
          </p>

          <h2 class="text-xl font-semibold mt-4">Teknologi Pelacakan dan Cookies</h2>
          <p>
            Kami menggunakan Cookies dan teknologi pelacakan serupa untuk melacak aktivitas di Layanan Kami dan menyimpan informasi tertentu. Teknologi pelacakan yang digunakan adalah beacon, tag, dan skrip untuk mengumpulkan dan melacak informasi serta untuk meningkatkan dan menganalisis Layanan Kami. Teknologi yang Kami gunakan dapat mencakup:
            <ul class="list-disc ml-6 mt-2">
              <li><strong>Cookies atau Browser Cookies.</strong> Cookie adalah file kecil yang ditempatkan pada Perangkat Anda. Anda dapat menginstruksikan browser Anda untuk menolak semua Cookies atau untuk menunjukkan saat Cookie dikirim. Namun, jika Anda tidak menerima Cookies, Anda mungkin tidak dapat menggunakan beberapa bagian dari Layanan kami. Kecuali Anda telah menyesuaikan pengaturan browser Anda sehingga akan menolak Cookies, Layanan kami dapat menggunakan Cookies.</li>
              <li><strong>Web Beacons.</strong> Bagian tertentu dari Layanan kami dan email kami mungkin berisi file elektronik kecil yang dikenal sebagai web beacon (juga disebut clear gifs, pixel tags, dan single-pixel gifs) yang memungkinkan Perusahaan, misalnya, menghitung pengguna yang telah mengunjungi halaman tersebut atau membuka email dan untuk statistik situs web terkait lainnya (misalnya, mencatat popularitas bagian tertentu dan memverifikasi integritas sistem dan server).</li>
            </ul>
            Cookies dapat berupa Cookies "Persisten" atau "Sesi". Cookies Persisten tetap berada di komputer pribadi atau perangkat seluler Anda saat Anda offline, sementara Cookies Sesi akan dihapus segera setelah Anda menutup web browser Anda. Anda dapat mempelajari lebih lanjut tentang cookies di artikel situs web TermsFeed.

            Kami menggunakan Cookies Sesi dan Cookies Persisten untuk tujuan yang tercantum di bawah ini:
            <ul class="list-disc ml-6 mt-2">
              <li>
                <strong>Cookies yang Diperlukan / Esensial</strong>
                <ul class="list-disc ml-6 mt-2">
                  <li><strong>Jenis:</strong> Cookies Sesi</li>
                  <li><strong>Dikelola oleh:</strong> Kami</li>
                  <li><strong>Tujuan:</strong> Cookies ini sangat penting untuk menyediakan Layanan kepada Anda yang tersedia melalui Situs Web dan untuk memungkinkan Anda menggunakan beberapa fitur dari Situs Web. Mereka membantu untuk mengautentikasi pengguna dan mencegah penggunaan penipuan akun pengguna. Tanpa Cookies ini, layanan yang Anda minta tidak dapat disediakan, dan Kami hanya menggunakan Cookies ini untuk menyediakan layanan tersebut kepada Anda.</li>
                </ul>
              </li>
              <li>
                <strong>Cookies Kebijakan / Pemberitahuan Penerimaan Cookies</strong>
                <ul class="list-disc ml-6 mt-2">
                  <li><strong>Jenis:</strong> Cookies Persisten</li>
                  <li><strong>Dikelola oleh:</strong> Kami</li>
                  <li><strong>Tujuan:</strong> Cookies ini mengidentifikasi apakah pengguna telah menerima penggunaan cookies di Situs Web.</li>
                </ul>
              </li>
              <li>
                <strong>Cookies Fungsionalitas</strong>
                <ul class="list-disc ml-6 mt-2">
                  <li><strong>Jenis:</strong> Cookies Persisten</li>
                  <li><strong>Dikelola oleh:</strong> Kami</li>
                  <li><strong>Tujuan:</strong> Cookies ini memungkinkan kami untuk mengingat pilihan yang Anda buat saat Anda menggunakan Situs Web, seperti mengingat detail login Anda atau preferensi bahasa. Tujuan dari Cookies ini adalah untuk memberi Anda pengalaman yang lebih personal dan untuk menghindari Anda harus memasukkan kembali preferensi Anda setiap kali Anda menggunakan Situs Web.</li>
                </ul>
              </li>
            </ul>
            Untuk informasi lebih lanjut tentang cookies yang kami gunakan dan pilihan Anda terkait cookies, silakan kunjungi Kebijakan Cookies kami atau bagian Cookies dari Kebijakan Privasi kami.
          </p>

          <h2 class="text-xl font-semibold mt-4">Penggunaan Data Pribadi Anda</h2>
          <p>
            Perusahaan dapat menggunakan Data Pribadi untuk tujuan berikut:
            <ul class="list-disc ml-6 mt-2">
              <li><strong>Untuk menyediakan dan memelihara Layanan kami:</strong> termasuk untuk memantau penggunaan Layanan kami.</li>
              <li><strong>Untuk mengelola Akun Anda:</strong> untuk mengelola pendaftaran Anda sebagai pengguna Layanan. Data Pribadi yang Anda berikan dapat memberi Anda akses ke berbagai fungsionalitas Layanan yang tersedia untuk Anda sebagai pengguna terdaftar.</li>
              <li><strong>Untuk pelaksanaan kontrak:</strong> pengembangan, kepatuhan, dan pelaksanaan kontrak pembelian untuk produk, barang, atau layanan yang telah Anda beli atau kontrak lain dengan Kami melalui Layanan.</li>
              <li><strong>Untuk menghubungi Anda:</strong> Untuk menghubungi Anda melalui email, panggilan telepon, SMS, atau bentuk komunikasi elektronik lainnya yang setara, seperti pemberitahuan push aplikasi seluler mengenai pembaruan atau komunikasi informatif terkait fungsionalitas, produk atau layanan yang dikontrak, termasuk pembaruan keamanan, bila perlu atau wajar untuk pelaksanaannya.</li>
              <li><strong>Untuk memberi Anda berita, penawaran khusus, dan informasi umum:</strong> tentang barang, layanan, dan acara lain yang kami tawarkan yang serupa dengan yang telah Anda beli atau tanyakan kecuali Anda telah memilih untuk tidak menerima informasi tersebut.</li>
              <li><strong>Untuk mengelola permintaan Anda:</strong> Untuk menghadiri dan mengelola permintaan Anda kepada Kami.</li>
              <li><strong>Untuk transfer bisnis:</strong> Kami dapat menggunakan informasi Anda untuk mengevaluasi atau melakukan merger, divestasi, restrukturisasi, reorganisasi, pembubaran, atau penjualan atau transfer lain dari sebagian atau seluruh aset Kami, baik sebagai kelangsungan usaha atau sebagai bagian dari kebangkrutan, likuidasi, atau proses serupa, di mana Data Pribadi yang kami pegang tentang pengguna Layanan kami adalah salah satu aset yang ditransfer.</li>
              <li><strong>Untuk tujuan lain:</strong> Kami dapat menggunakan informasi Anda untuk tujuan lain, seperti analisis data, mengidentifikasi tren penggunaan, menentukan efektivitas kampanye promosi kami, dan untuk mengevaluasi serta meningkatkan Layanan, produk, layanan, pemasaran, dan pengalaman Anda.</li>
            </ul>
          </p>

          <h2 class="text-xl font-semibold mt-4">Retensi Data Pribadi Anda</h2>
          <p>
            Perusahaan akan menyimpan Data Pribadi Anda hanya selama diperlukan untuk tujuan yang ditetapkan dalam Kebijakan Privasi ini. Kami akan menyimpan dan menggunakan Data Pribadi Anda sejauh diperlukan untuk mematuhi kewajiban hukum kami (misalnya, jika kami diharuskan menyimpan data Anda untuk mematuhi undang-undang yang berlaku), menyelesaikan sengketa, dan menegakkan perjanjian serta kebijakan hukum kami.

            Perusahaan juga akan menyimpan Data Penggunaan untuk tujuan analisis internal. Data Penggunaan umumnya disimpan untuk jangka waktu yang lebih singkat, kecuali ketika data ini digunakan untuk memperkuat keamanan atau untuk meningkatkan fungsionalitas Layanan Kami, atau Kami berkewajiban secara hukum untuk menyimpan data ini untuk jangka waktu yang lebih lama.
          </p>

          <h2 class="text-xl font-semibold mt-4">Transfer Data Pribadi Anda</h2>
          <p>
            Informasi Anda, termasuk Data Pribadi, diproses di kantor operasional Perusahaan dan di tempat lain di mana pihak-pihak yang terlibat dalam pemrosesan berada. Artinya informasi ini dapat ditransfer ke — dan dipelihara di — komputer yang berlokasi di luar negara bagian, provinsi, negara, atau yurisdiksi pemerintah lainnya di mana undang-undang perlindungan data mungkin berbeda dari yurisdiksi Anda.

            Persetujuan Anda terhadap Kebijakan Privasi ini diikuti oleh pengiriman informasi tersebut oleh Anda merupakan persetujuan Anda terhadap transfer tersebut.

            Perusahaan akan mengambil semua langkah yang diperlukan untuk memastikan bahwa data Anda diperlakukan dengan aman dan sesuai dengan Kebijakan Privasi ini dan tidak ada transfer Data Pribadi Anda yang akan dilakukan ke organisasi atau negara kecuali ada kontrol yang memadai termasuk keamanan data Anda dan informasi pribadi lainnya.
          </p>

          <h2 class="text-xl font-semibold mt-4">Hapus Data Pribadi Anda</h2>
          <p>
            Anda memiliki hak untuk menghapus atau meminta Kami membantu menghapus Data Pribadi yang Kami kumpulkan tentang Anda.
            Layanan Kami dapat memberi Anda kemampuan untuk menghapus informasi tertentu tentang Anda dari dalam Layanan.

            Anda dapat memperbarui, mengubah, atau menghapus informasi Anda kapan saja dengan masuk ke Akun Anda, jika Anda memilikinya, dan mengunjungi bagian pengaturan akun yang memungkinkan Anda mengelola informasi pribadi Anda. Anda juga dapat menghubungi Kami untuk meminta akses, memperbaiki, atau menghapus informasi pribadi apa pun yang telah Anda berikan kepada Kami.

            Namun, harap diperhatikan bahwa Kami mungkin perlu menyimpan informasi tertentu saat kami memiliki kewajiban hukum atau dasar yang sah untuk melakukannya.
          </p>

          <h2 class="text-xl font-semibold mt-4">Pengungkapan Data Pribadi Anda</h2>
          <p>
            <strong>Transaksi Bisnis</strong>
            Jika Perusahaan terlibat dalam merger, akuisisi, atau penjualan aset, Data Pribadi Anda dapat ditransfer. Kami akan memberikan pemberitahuan sebelum Data Pribadi Anda ditransfer dan menjadi subjek Kebijakan Privasi yang berbeda.
          </p>
          <p>
            <strong>Penegakan Hukum</strong>
            Dalam keadaan tertentu, Perusahaan mungkin diharuskan untuk mengungkapkan Data Pribadi Anda jika diharuskan melakukannya oleh hukum atau sebagai tanggapan atas permintaan yang sah oleh otoritas publik (misalnya, pengadilan atau lembaga pemerintah).
          </p>
          <p>
            <strong>Persyaratan Hukum Lainnya</strong>
            Perusahaan dapat mengungkapkan Data Pribadi Anda dengan itikad baik bahwa tindakan tersebut diperlukan untuk:
            <ul class="list-disc ml-6 mt-2">
              <li>Mematuhi kewajiban hukum</li>
              <li>Melindungi dan membela hak atau properti Perusahaan</li>
              <li>Mencegah atau menyelidiki kemungkinan kesalahan sehubungan dengan Layanan</li>
              <li>Melindungi keselamatan pribadi Pengguna Layanan atau publik</li>
              <li>Melindungi terhadap tanggung jawab hukum</li>
            </ul>
          </p>

          <h2 class="text-xl font-semibold mt-4">Keamanan Data Pribadi Anda</h2>
          <p>
            Keamanan Data Pribadi Anda penting bagi Kami, tetapi ingatlah bahwa tidak ada metode transmisi melalui Internet, atau metode penyimpanan elektronik yang 100% aman. Meskipun Kami berusaha untuk menggunakan cara-cara yang dapat diterima secara komersial untuk melindungi Data Pribadi Anda, Kami tidak dapat menjamin keamanan mutlaknya.
          </p>

          <h2 class="text-xl font-semibold mt-4">Privasi Anak-Anak</h2>
          <p>
            Layanan Kami tidak ditujukan kepada siapa pun yang berusia di bawah 13 tahun. Kami tidak secara sengaja mengumpulkan informasi yang dapat diidentifikasi secara pribadi dari siapa pun yang berusia di bawah 13 tahun. Jika Anda adalah orang tua atau wali dan Anda mengetahui bahwa Anak Anda telah memberikan Kami Data Pribadi, silakan hubungi Kami. Jika Kami menyadari bahwa Kami telah mengumpulkan Data Pribadi dari siapa pun yang berusia di bawah 13 tahun tanpa verifikasi persetujuan orang tua, Kami akan mengambil langkah-langkah untuk menghapus informasi tersebut dari server Kami.

            Jika Kami perlu mengandalkan persetujuan sebagai dasar hukum untuk memproses informasi Anda dan negara Anda memerlukan persetujuan dari orang tua, Kami mungkin memerlukan persetujuan orang tua Anda sebelum Kami mengumpulkan dan menggunakan informasi tersebut.
          </p>

          <h2 class="text-xl font-semibold mt-4">Tautan ke Situs Web Lainnya</h2>
          <p>
            Layanan Kami mungkin berisi tautan ke situs web lain yang tidak dioperasikan oleh Kami. Jika Anda mengklik tautan pihak ketiga, Anda akan diarahkan ke situs pihak ketiga tersebut. Kami sangat menyarankan Anda untuk meninjau Kebijakan Privasi dari setiap situs yang Anda kunjungi.

            Kami tidak memiliki kendali atas dan tidak bertanggung jawab atas konten, kebijakan privasi, atau praktik dari situs atau layanan pihak ketiga mana pun.
          </p>

          <h2 class="text-xl font-semibold mt-4">Perubahan pada Kebijakan Privasi ini</h2>
          <p>
            Kami dapat memperbarui Kebijakan Privasi Kami dari waktu ke waktu. Kami akan memberi tahu Anda tentang setiap perubahan dengan memposting Kebijakan Privasi baru di halaman ini.

            Kami akan memberi tahu Anda melalui email dan/atau pemberitahuan yang jelas di Layanan Kami, sebelum perubahan tersebut berlaku dan memperbarui tanggal "Terakhir diperbarui" di bagian atas Kebijakan Privasi ini.

            Anda disarankan untuk meninjau Kebijakan Privasi ini secara berkala untuk setiap perubahan. Perubahan pada Kebijakan Privasi ini berlaku saat diposting di halaman ini.
          </p>

          <h2 class="text-xl font-semibold mt-4">Hubungi Kami</h2>
          <p>
            Jika Anda memiliki pertanyaan tentang Kebijakan Privasi ini, Anda dapat menghubungi kami:
            <ul class="list-disc ml-6 mt-2">
              <li>Melalui email: sellandbuy@gmail.com</li>
              <li>Melalui nomor telepon: 082246713849</li>
            </ul>
          </p>
        </div>
      </section>
    </div>

    <footer class="mt-auto">
      <div id="ftr-wrp">
        <div
          id="ftr"
          class="grid grid-cols-1 grid-rows-1 gap-y-[2px] flex-col items-center bg-white text-white font-saira"
        >
          <div
            id="top-ftr"
            class="flex flex-row items-center justify-between pt-[15px] pb-3 px-2 sm:px-16 bg-black text-[10px] sm:text-[20px]"
          >
            <div
              id="cstmr-srvc"
              class="w-fit flex flex-row items-center justify-start"
            >
              <a href="/faq" class="leading-6">FAQ</a>
              <h1 id="divider" class="mx-3 text-sm">|</h1>
              <a href="/privacy" class="leading-6">Privacy Policy</a>
              <h1 id="divider" class="mx-3 text-sm">|</h1>
              <a href="/tos" class="leading-6">Terms & Condition</a>
            </div>
            <div id="c-right" class="w-auto flex justify-end items-center">
              <h1>CopyRight © 2024 Sell&Buy</h1>
            </div>
          </div>
          <div
            id="bot-ftr"
            class="flex flex-col sm:flex-row bg-black px-2 sm:px-16 py-3.5 sm:py-7 justify-between"
          >
            <div
              id="cmpny"
              class="w-1/2 sm:w-2/3 flex flex-col sm:flex-row justify-between sm:justify-start"
            >
              <img
                src="images/footer-logo.png"
                class="w-[150px] sm:w-[300px] mr-[5px]"
              />
              <span
                class="flex flex-col justify-between items-start text-[10px] sm:text-[15px]"
              >
                <h1 class="flex align-top justify-start text-left">
                  Alamat: Jl. Komojoyo No.16, Caturtunggal, Daerah Istimewa
                  Yogyakarta
                </h1>
                <h1 class="flex align-top justify-start text-left">
                  Phone: 0822-4671-3849
                </h1>
                <h1 class="flex align-top justify-start text-left">
                  Email: sellandbuy@gmail.com
                </h1>
              </span>
            </div>
            <div
              id="social"
              class="w-1/2 sm:w-1/3 flex flex-row justify-between items-center"
            >
              <a href="#" class="flex items-center"
                ><img src="images/instagram.png"
              /></a>
              <a href="#" class="flex items-center"
                ><img src="images/whatsapp.png"
              /></a>
              <a href="#" class="flex items-center"
                ><img src="images/linkedin.png"
              /></a>
              <a href="#" class="flex items-center"
                ><img src="images/email.png"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
