<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sell & Buy - Product Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body class="min-h-screen flex flex-col font-saira">
    <!-- Navbar -->
    <div id="nav-wrp" class="mb-20">
      <header
        id="navbar"
        class="bg-white fixed flex items-center justify-center flex-col inset-x-0 top-0 z-50"
      >
        <div
          id="top-nav"
          class="w-full flex items-center justify-between sm:pt-4 sm:pb-0 px-2 sm:px-5 pt-5 pb-5"
        >
          <div id="left-part" class="sm:w-1/3 flex justify-start">
            <div class="relative inline-block text-left">
              <div>
                <button
                  type="button"
                  class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-200 transition"
                  id="menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <img class="w-btn-pfl" src="/images/pictures/default.png" />
                </button>
              </div>
              <div
                class="absolute left-0 right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden transition-all duration-300 ease-in-out"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="menu-button"
                tabindex="-1"
                id="menu"
              >
                <div class="py-1" role="none" id="menu-items">
                  <% if (user) { %>
                  <button
                    class="block w-full px-4 py-2 text-sm text-left text-gray-700 cursor-pointer"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-profile"
                    onclick="location.href = '/katalog'"
                  >
                    Katalog
                  </button>
                  <button
                    class="block w-full px-4 py-2 text-sm text-left text-gray-700 cursor-pointer"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-profile"
                    onclick="location.href = '/profile'"
                  >
                    Profile
                  </button>
                  <button
                    class="block w-full px-4 py-2 text-left text-sm text-gray-700 cursor-pointer"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-member"
                    onclick="location.href = '/membership'"
                  >
                    Jadi Member
                  </button>
                  <button
                    type="submit"
                    class="w-full px-4 py-2 text-left text-sm text-gray-700 cursor-pointer"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-logout"
                    onclick="location.href = '/logout'"
                  >
                    Logout
                  </button>
                  <% } else { %>
                  <button
                    class="block w-full px-4 py-2 text-left text-sm text-gray-700 cursor-pointer"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-login"
                    onclick="location.href = '/login'"
                  >
                    Login
                  </button>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <a
            href="/"
            id="navbar-logo"
            class="w-auto mx-auto sm:w-1/3 flex items-center justify-center"
          >
            <img
              id="logo"
              class="h-5 sm:h-9 sm:w-auto cursor-pointer"
              src="/images/navbar-logo.png"
            />
          </a>
          <div id="pfl" class="text-right sm:flex w-auto h-auto sm:w-1/3 justify-end sm:ml-auto">
            <a
              id="sell"
              href="/jual"
              class="flex rounded-full justify-end mr-2 sm:mr-0 shadow-sm hover:bg-slate-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700"
            >
              <img class="w-btn-pfl" src="/images/tambahkan.png" />
            </a>
            <div
              id="srch-bar"
              class="relative hidden sm:flex px-[10px] rounded-full items-center lg:w-auto hover:bg-slate-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700"
            >
              <form
                action="/katalog"
                method="GET"
                class="w-full flex items-center"
                id="searchForm"
              >
                <span class="sr-only">Search</span>
                <span
                  id="srch-icon"
                  class="absolute left-0 flex items-center pl-5"
                >
                  <svg
                    class="h-5 w-5 fill-black"
                    data-slot="icon"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                      d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                    ></path>
                  </svg>
                </span>
                <input
                  id="srch-input"
                  class="font-saira placeholder:italic placeholder:text-gray-600 bg-white w-full border-2 border-black rounded-xl py-[1px] pr-3 md:pl-7 shadow-sm focus:outline-none focus:border-black focus:ring-black focus:ring-1 sm:text-sm lg:pl-6"
                  placeholder="Search..."
                  type="text"
                  name="search"
                />
              </form>
            </div>
          </div>
        </div>
        <div
          id="bot-nav"
          class="w-full flex items-center justify-center pt-2 pb-4 sm:px-[20px]"
        >
          <form
            action="/katalog"
            method="GET"
            class="w-full flex items-center"
            id="searchForm"
          >
            <div
              id="srch-bar"
              class="relative flex sm:hidden w-full px-[10px] rounded-full items-center hover:bg-slate-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-700"
            >
              <span class="sr-only">Search</span>
              <span
                id="srch-icon"
                class="absolute left-0 flex items-center pl-5"
              >
                <svg
                  class="h-5 w-5 fill-black"
                  data-slot="icon"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                >
                  <path
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                  ></path>
                </svg>
              </span>
              <input
                id="srch-input"
                class="font-saira placeholder:italic placeholder:text-gray-600 bg-white w-full border-2 border-black rounded-xl py-[1px] pr-3 md:pl-7 shadow-sm focus:outline-none focus:border-black focus:ring-black focus:ring-1 text-sm pl-6"
                placeholder="Search..."
                type="text"
                name="search"
              />
            </div>
          </form>
        </div>
      </header>
    </div>

    <!-- Content -->
    <div
      id="content"
      class="flex-grow w-full mt-[101.2px] sm:mt-[96px] mb-10 relative"
    >
      <div class="container mx-auto mt-10 sm:my-0 p-4">
        <h1 class="text-5xl font-bold mb-2">Isi Detail Produk</h1>
        <hr class="h-px w-full bg-black border-0 dark:bg-gray-700" />

        <!-- Form Section -->
        <form action="/jual" method="POST" enctype="multipart/form-data">
          <div class="flex flex-col sm:flex-row mt-7">
            <div class="lg:w-1/2 lg:mr-7">
              <h2 class="text-3xl font-bold mb-1">Detail Produk</h2>
              <hr class="h-px w-full bg-black border-0 dark:bg-gray-700" />
              <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mt-2">
                <div class="col-span-2">
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="productName"
                  >
                    Nama produk<span class="text-red-500">*</span>
                  </label>
                  <input
                    type="text"
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm px-1"
                    id="productName"
                    name="productName"
                    required
                  />
                </div>
                <div>
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="category"
                  >
                    Kategori produk<span class="text-red-500">*</span>
                  </label>
                  <select
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm"
                    id="category"
                    name="category"
                    required
                  >
                    <% categories.forEach((category) => { %>
                    <option value="<%= category._id %>">
                      <%= category.name %>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <div>
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="condition"
                  >
                    Kondisi Produk<span class="text-red-500">*</span>
                  </label>
                  <select
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm"
                    id="condition"
                    name="condition"
                    required
                  >
                    <option value="Baru">Baru</option>
                    <option value="Bekas">Bekas</option>
                  </select>
                </div>
                <div>
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="price"
                  >
                    Harga produk<span class="text-red-500">*</span>
                  </label>
                  <input
                    type="text"
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm"
                    id="price"
                    name="price"
                    required
                  />
                </div>
                <div class="col-span-2">
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="reasonForSelling"
                  >
                    Alasan menjual produk<span class="text-red-500">*</span>
                  </label>
                  <input
                    type="text"
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm"
                    id="reasonForSelling"
                    name="reasonForSelling"
                    required
                  />
                </div>
                <div class="col-span-2">
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="description"
                  >
                    Deskripsi Produk<span class="text-red-500">*</span>
                  </label>
                  <textarea
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm"
                    rows="4"
                    id="description"
                    name="description"
                    required
                  ></textarea>
                </div>
                <div class="col-span-2">
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="location"
                  >
                    Lokasi Kota<span class="text-red-500">*</span>
                  </label>
                  <input
                    type="text"
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm"
                    id="location"
                    name="location"
                    required
                  />
                </div>
                <div class="col-span-2">
                  <label
                    class="block text-sm font-medium text-gray-700"
                    for="fullAddress"
                  >
                    Alamat Lengkap<span class="text-red-500">*</span>
                  </label>
                  <input
                    type="text"
                    class="mt-1 block w-full border border-gray-500 rounded-md shadow-sm"
                    id="fullAddress"
                    name="fullAddress"
                    required
                  />
                </div>
              </div>
            </div>

            <!-- Image Section -->
            <div class="mt-6 sm:w-1/2">
              <!-- Image Container -->
              <div class="border-2 border-gray-500 rounded-xl p-7">
                <h2 class="text-3xl font-bold mb-1">
                  Tambahkan Gambar / Foto Produk<span class="text-red-500"
                    >*</span
                  >
                </h2>
                <hr class="h-px w-full bg-black border-0 dark:bg-gray-700" />
                <input
                  type="file"
                  id="productImages"
                  name="productImages"
                  accept="image/*"
                  multiple
                  required
                  class="w-full p-2 border border-gray-300 rounded mb-5"
                />
              </div>

              <!-- Checkbox -->
              <div class="mt-6">
                <label class="inline-flex items-center">
                  <input
                    type="checkbox"
                    class="form-checkbox cursor-pointer"
                    required
                  />
                  <span class="ml-2 text-sm text-gray-700"
                    >Dengan menggunakan layanan kami, Anda memercayakan
                    informasi Anda kepada kami. Kami paham bahwa melindungi
                    informasi Anda dan memberikan kontrol kepada Anda adalah
                    tanggung jawab yang besar dan memerlukan kerja keras.</span
                  >
                </label>
                <label class="inline-flex items-center mt-4">
                  <input
                    type="checkbox"
                    class="form-checkbox cursor-pointer"
                    required
                  />
                  <span class="ml-2 text-sm text-gray-700"
                    >Saya dengan ini menyatakan bahwa saya telah membaca dan
                    memahami semua ketentuan dan kebijakan yang terkait dengan
                    penggunaan aplikasi/website ini. Saya sepenuhnya setuju dan
                    bersedia mematuhi semua aturan yang telah ditetapkan. Saya
                    menyadari bahwa ketidakpatuhan terhadap kebijakan ini dapat
                    mengakibatkan tindakan penghentian akses atau tindakan lain
                    sesuai ketentuan yang berlaku.</span
                  >
                </label>
              </div>
            </div>
          </div>

          <!-- Button -->
          <div class="mt-10 mx-auto text-center">
            <p>
              Untuk pengiklanan produk akan dikenakan biaya sebesar
              <span class="font-bold"> RP2.500 / produk </span>
            </p>
          </div>
          <div class="mt-6 lg:w-1/4 mx-auto shadow-md">
            <button
              type="submit"
              class="w-full bg-black text-xl text-white font-bold py-2 rounded-md"
            >
              Selesaikan Pembayaran
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Footer -->
    <footer class="mt-auto">
      <div id="ftr-wrp">
        <div
          id="ftr"
          class="grid grid-cols-1 grid-rows-1 gap-y-[2px] flex-col items-center bg-white text-white font-saira"
        >
          <div
            id="top-ftr"
            class="flex flex-row items-center justify-between pt-[15px] pb-3 px-2 sm:px-16 bg-black text-[10px] sm:text-[20px]"
          >
            <div
              id="cstmr-srvc"
              class="w-fit flex flex-row items-center justify-start"
            >
              <a href="/faq" class="leading-6">FAQ</a>
              <h1 id="divider" class="mx-3 text-sm">|</h1>
              <a href="/privacy" class="leading-6">Privacy Policy</a>
              <h1 id="divider" class="mx-3 text-sm">|</h1>
              <a href="/tos" class="leading-6">Terms & Condition</a>
            </div>
            <div id="c-right" class="w-auto flex justify-end items-center">
              <h1>CopyRight © 2024 Sell&Buy</h1>
            </div>
          </div>
          <div
            id="bot-ftr"
            class="flex flex-col sm:flex-row bg-black px-2 sm:px-16 py-3.5 sm:py-7 justify-between"
          >
            <div
              id="cmpny"
              class="w-1/2 sm:w-2/3 flex flex-col sm:flex-row justify-between sm:justify-start"
            >
              <img
                src="/images/footer-logo.png"
                class="w-[150px] sm:w-[300px] mr-[5px]"
              />
              <span
                class="flex flex-col justify-between items-start text-[10px] sm:text-[15px]"
              >
                <h1 class="flex align-top justify-start text-left">
                  Alamat: Jl. Komojoyo No.16, Caturtunggal, Daerah Istimewa
                  Yogyakarta
                </h1>
                <h1 class="flex align-top justify-start text-left">
                  Phone: 0822-4671-3849
                </h1>
                <h1 class="flex align-top justify-start text-left">
                  Email: sellandbuy@gmail.com
                </h1>
              </span>
            </div>
            <div
              id="social"
              class="w-1/2 sm:w-1/3 flex flex-row justify-between items-center"
            >
              <a href="#" class="flex items-center"
                ><img src="/images/instagram.png"
              /></a>
              <a href="#" class="flex items-center"
                ><img src="/images/whatsapp.png"
              /></a>
              <a href="#" class="flex items-center"
                ><img src="/images/linkedin.png"
              /></a>
              <a href="#" class="flex items-center"
                ><img src="/images/email.png"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        function toggleMenu(event) {
          const menu = document.getElementById("menu");
          const isHidden = menu.classList.contains("hidden");
          menu.classList.toggle("hidden", !isHidden);
          menu.setAttribute("aria-expanded", !isHidden);
          event.currentTarget.setAttribute("aria-expanded", !isHidden);
        }

        const menuButton = document.getElementById("menu-button");
        menuButton.addEventListener("click", toggleMenu);

        document.addEventListener("click", (event) => {
          const menu = document.getElementById("menu");
          if (
            !menuButton.contains(event.target) &&
            !menu.contains(event.target)
          ) {
            menu.classList.add("hidden");
            menuButton.setAttribute("aria-expanded", "false");
          }
        });

        const profileLink = document.getElementById("menu-item-profile");
        if (profileLink) {
          profileLink.addEventListener("click", () => {
            console.log("Profile link clicked");
          });
        }
      });
    </script>

    <script src="/js/script.js"></script>
  </body>
</html>
